*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 253, 245);
}
.above_navbar {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 25px;
    padding: 5px;
    position: static;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: rgb(253, 253, 245);
}
.company_name{
    font-size: 30px;
    font-weight:bold;
    color: rgb(18, 79, 25);
    position: relative;
    left:50px;
    font-family:'Times New Roman', Times, serif;

}
.nav_links{
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:70px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(18, 79, 25);
    font-family: Arial;
    float: left ;
    position: relative;
    left: 150px;
}
ul li{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li:hover{
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color: rgb(18, 79, 25);
}
.contact{
    color:rgb(18, 79, 25);
    position: relative;
    font-size: 20px;
    width:180px;
    height:40px;
    padding:5px;
    text-align: center;
    border-radius: 25px;
    border:1px solid rgb(18, 79, 25);
    transition: all 0.3s ease-in-out;
    font-family: Arial;
    left:150px;
    background-color: white;
}
.contact:hover{
    background-color: rgb(18, 79, 25);
    color:white;
}
.login{
    color:rgb(18, 79, 25);
    position:relative;
    font-size:20px;
    right:50px;
    font-family: Arial;
    top:8px;
}
.doc_img{
    width:900px;
    height:800px;
    position: relative;
    left:622px;
    top:50px;
    border-radius: 10px;
}
.main_text{
    position: relative;
    left:100px;
    bottom:500px;
    width:600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:rgb(18, 50, 25);
    font-weight: bold;
}
.main_text p{
    font-size: 25px;
    position: relative;
    top:50px;

}
.icon{
    width:80px;
    height:80px;
    position: fixed;
    left:20px;
    bottom:50px;
    z-index: 1000;
}
.consult_button{
    width:200px;
    height:60px;
}
.review{
    width:100%;
    height:400px;
    position: relative;
    bottom:200px;
}
.info{
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom:50px;
    color: rgb(18, 79, 25);
    font-weight: 200;
}
.container{
    width:100%;
    height:350px;
    display: flex;
    flex-direction: row;
    border:1px solid black;
}
.box1, .box2, .box3, .box4, .box5{
    border:1px solid black;
}