*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 253, 245);
}
.above_navbar {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    padding: 5px;
    position: static;
}
/* @media (min-width: 769px) and (max-width: 2000px){
    .above_navbar{
        width: 100vh;
        height: auto;
        padding: 0.5rem;
    }
} */
@media (min-width:481px) and (max-width:768px){
    .above_navbar{
        width: 100vh;
        height: auto;
        padding:1rem;
        font-size: 20px;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: rgb(253, 253, 245);
}
.company_name{
    font-size: 30px;
    font-weight:bold;
    color: rgb(18, 79, 25);
    position: relative;
    left:5vh;
    font-family:'Times New Roman', Times, serif;

}
.nav_links{
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:7vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(18, 79, 25);
    font-family: Arial;
    float: left ;
    position: relative;
    left: 15vh;
}
ul li{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li:hover{
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color: rgb(18, 79, 25);
}
.contact{
    color:rgb(18, 79, 25);
    position: relative;
    font-size: 20px;
    width:180px;
    height:40px;
    padding:5px;
    text-align: center;
    border-radius: 25px;
    border:1px solid rgb(18, 79, 25);
    transition: all 0.3s ease-in-out;
    font-family: Arial;
    left:150px;
    background-color: white;
    cursor: pointer;
}
.contact:hover{
    background-color: rgb(18, 79, 25);
    color:white;
}
.login{
    color:rgb(18, 79, 25);
    position:relative;
    font-size:20px;
    right:50px;
    font-family: Arial;
    top:8px;
}
.doc_img{
    width:55rem;
    height:800px;
    position: relative;
    left:622px;
    top:50px;
    border-radius: 10px;
}
.main_text{
    position: relative;
    left:100px;
    bottom:500px;
    width:600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color:rgb(18, 50, 25);
    font-weight: bold;
}
.main_text p{
    font-size: 25px;
    position: relative;
    top:50px;

}
.icon{
    width:80px;
    height:80px;
    position: fixed;
    left:20px;
    bottom:50px;
    z-index: 1000;
}
.consult_button{
    width:200px;
    height:60px;
    cursor: pointer;
}
.review{
    width:100%;
    height:400px;
    position: relative;
    bottom:200px;
}
.info{
    text-align: center;
    font-size: 50px;
    position: relative;
    bottom:50px;
    color: rgb(18, 79, 25);
    font-weight: 200;
}
.container{
    width:100%;
    height:35rem;
    display: flex;
    flex-direction: row;
    gap:2rem;
    padding: 1rem;

}
.box1, .box2, .box3{
    border:1px solid black;
    width:33.33%;
    height:100%;
    text-align: center;

}

.box1:hover{
    background-image: url(photos/lab_img.png);
    background-attachment: fixed;


}
.box2:hover{
    background-image: url(photos/doc.png);
    background-attachment: fixed;

}
.box3:hover{
    background-image: url(photos/med_img.png);
    background-attachment: fixed;


}
.box_heading{
    font-size: 3rem;
    color: rgb(18, 79, 25);
    font-weight: bold;
    margin-top: 5rem;
    z-index: 500;
    opacity: 1;
}
.box_para{
    font-size: 1.3rem;
    margin-top: 5rem;
    color: rgb(50, 50, 50);
    z-index: 500;
}
.box_button{
    width:120px;
    height:40px;
    background-color: rgb(18, 79, 25);
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    top:5rem;
    cursor: pointer;
    z-index: 500;
}
.box_button3{
    width:120px;
    height:40px;
    background-color: rgb(18, 79, 25);
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    top:7.7rem;
    cursor: pointer;
}
.consult_button{
    width:180px;
    height:40px;
    position: relative;
    background-color: rgb(18, 79, 25);
    color: white;
    border: 1px solid rgb(18, 79, 25);
    bottom:400px;
    left:300px;
    border-radius: 25px;
    font-size: 17px;
}
.learn_about{
    width:180px;
    height:40px;
    position: relative;
    background-color: white;
    color: rgb(18, 79, 25);
    border: 1px solid rgb(18, 79, 25);
    bottom:400px;
    right:100px;
    border-radius: 25px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.learn_about:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.consult_button:hover{
    box-shadow: 0px 0px 10px rgba(10, 10, 0, 0.2);
}
.contact_doc{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: rgb(18, 79, 25);
    color: white;
    top:10rem;
    left:44%;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}
.cus_review{
    text-align: center;
    font-size: 50px;
    position: relative;
    top:20rem;
    color: rgb(18, 79, 25);

}
