*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 253, 245);
    width: 100vw;
    overflow-x: hidden;
}
.above_navbar {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: auto;
    padding: 5px;
    position: static;
}

@media (min-width:481px) and (max-width:768px){
    .above_navbar{
        width: 100vh;
        height: auto;
        padding:1rem;
        font-size: 20px;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: rgb(253, 253, 245);
}
.company_name{
    font-size: 30px;
    font-weight:bold;
    color: rgb(18, 79, 25);
    position: relative;
    left:5vh;
    font-family:'Times New Roman', Times, serif;

}
.nav_links{
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:7vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(18, 79, 25);
    font-family: Arial;
    float: left ;
    position: relative;
    left: 15vh;
}
ul li{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li:hover{
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color: rgb(18, 79, 25);
}
.contact{
    color:rgb(18, 79, 25);
    position: relative;
    font-size: 20px;
    width:180px;
    height:40px;
    padding:5px;
    text-align: center;
    border-radius: 25px;
    border:1px solid rgb(18, 79, 25);
    transition: all 0.3s ease-in-out;
    font-family: Arial;
    left:150px;
    background-color: white;
    cursor: pointer;
}
.contact:hover{
    background-color: rgb(18, 79, 25);
    color:white;
}
.login{
    color:rgb(18, 79, 25);
    position:relative;
    font-size:20px;
    right:50px;
    font-family: Arial;
    top:8px;
    text-decoration: none;
}
.grid_container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,1fr);
    padding: 5rem 0 0 10rem;
    gap:20rem
}
.grid_text{
    text-align: center;
}
.footer{
    width: 100vw;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: relative;
    top:400rem;
    background-color: rgb(31, 78, 74,1.3);
    color: white;
}
.list_foot{
    list-style: none;
}
.heading_1{
    color:white;
    text-align: center;
    position:absolute;
    top: 3rem;
}
.sub_heading_foot1{
    color:gold;
    position: absolute;
    top: 8rem;
    left:1rem;
}
.sub_heading_foot2{
    color:gold;
    position: absolute;
    top: 17rem;
    left: 1rem;
}
.sign_up_button{
    width:9rem;
    height: 3rem;
    border-radius: 25px;
    position: absolute;
    top:11rem;
    font-size: 1.5rem;
}
.sharing_images{
    position: absolute;
    top:20rem;
    display: flex;
    gap:1rem;
}
.insta_image{
    width:2.5rem;
    height: auto;
    border-radius: 5px;
}
.anchor{
    color: white;
}
.contact_foot{
    color:rgb(18, 79, 25);
    font-size: 20px;
    width:180px;
    height:40px;
    padding:5px;
    text-align: center;
    border-radius: 25px;
    border:1px solid rgb(18, 79, 25);
    transition: all 0.3s ease-in-out;
    font-family: Arial;
    background-color: white;
    cursor: pointer;
}
.footer_bottom{
    position: relative;
    top: 390rem;
    left:75rem;
    color: rgb(255,255,255,1);
}
.border{
    position: relative;
    top:385rem;
    left:22rem;
    width: 70vw;
    border: 1px solid white;
}
.footer_ending{
    display: flex;
    gap:3rem;
    color: white;
    position: relative;
    top: 392rem;
    left:51rem;
    text-decoration: none;
    list-style: none;
}
@media (min-width:768px) {
    .grid_container{
        grid-template-rows: repeat(16,1fr);
    }
}
