*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(253, 253, 245);
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: rgb(253, 253, 245);
}
.company_name{
    font-size: 30px;
    font-weight:bold;
    color: rgb(18, 79, 25);
    position: relative;
    left:5vh;
    font-family:'Times New Roman', Times, serif;

}
.nav_links{
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:7vh;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(18, 79, 25);
    font-family: Arial;
    float: left ;
    position: relative;
    left: 15vh;
}
ul li{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul li:hover{
    text-decoration: underline;
}
ul li a{
    text-decoration: none;
    color: rgb(18, 79, 25);
}
.contact{
    color:rgb(18, 79, 25);
    position: relative;
    font-size: 20px;
    width:180px;
    height:40px;
    padding:5px;
    text-align: center;
    border-radius: 25px;
    border:1px solid rgb(18, 79, 25);
    transition: all 0.3s ease-in-out;
    font-family: Arial;
    left:150px;
    background-color: white;
}
.contact:hover{
    background-color: rgb(18, 79, 25);
    color:white;
}
.login{
    color:rgb(18, 79, 25);
    position:relative;
    font-size:20px;
    right:50px;
    font-family: Arial;
    top:8px;
}
.text{
    position: relative;
    top:10rem;
}
.heading{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
.para{
    text-align: center;
    font-size: 1.5rem;
}
.container{
    display: flex;
    flex-direction: row;
    position: relative;
    top:12rem;
}